//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$medium: 1200px;
$small: 575px;
$very-small: 348px;

$custom-dark: #454545;
$custom-orange: rgba(245,193,57);
$custom-rose: #ec7c7d;
$header-table: rgba(245,193,57);
$text-base-color: #454545;
$placeholder-color: #B9B9C3;
$white: #fff;
$placeholder-moz-color: #828288;
