@import "./variables/variables";

.main-menu.menu-light .navigation>li.active>a {
  background: $colors-palette2;
  box-shadow: none;
}

.button-form {
  background-color: $colors-palette2;
  color: #FFF;
  transition: .3s background-color;
}

.button-form:hover {
  background-color: $colors-palette1;
  color: #FFF;
}

.btn-outline-form {
  background-color: transparent;
  border: solid 1px $colors-palette2;
  color: $colors-palette2;
  transition: .3s background-color;
}

.btn-outline-form:hover {
  background-color: transparent;
  border: solid 1px $colors-palette2;
  color: $colors-palette2;
  text-decoration: underline;
}

.custom-alert {
  display: flex;
  padding: 0.71rem 1rem;
  justify-content: space-between;
}

.wizard-tab-content {
  width: 100% !important;
}

.main-menu .navbar-header .navbar-brand .brand-logo img {
  max-width: 230px;
}

.main-menu.menu-light .navigation > li ul .active {
  background: linear-gradient(118deg, $colors-palette1, rgba(28, 37, 65, 0.7));
}

.main-menu.menu-light .navigation > li ul .active {
  box-shadow: 0 0 10px 1px rgb(28 37 65 / 70%);
  border-radius: 4px;
}

.button-config {
  margin-top: .4rem;
}

.spinner-area {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-menu .navbar-header .navbar-brand {
  margin-top: .5rem;
}

.main-menu .navbar-header {
  padding: 1.5rem 1rem 0.3rem 1rem;
}

.main-menu.menu-light .navigation {
  margin-top: 2rem;
}

.p-card-form {
  padding: 3rem 2rem;
}

@media(max-width: 576px) {
  .button-config {
    width: 100%;
    margin-bottom: 1rem;
  }
}
