@import "@/assets/scss/variables/_variables.scss";

.confirm-button-sweet {
  background-color: $colors-palette2 !important;
  color: #FFF;
  margin-right: 10px;
  box-shadow: 0 0 0 0 rgb(112 102 224 / 50%) !important;
  transition: .3s background-color;
}

.confirm-button-sweet:hover {
  background-color: $colors-palette2-hover !important;
  color: #FFF;
}

.cancel-button-sweet {
  background-color: transparent;
  color: #FF9110 !important;
  margin-left: 10px;
  border: 1px solid #FF9110;
  box-shadow: 0 0 0 0 rgb(255 145 16 / 50%) !important;
}

.success-outline-button-sweet {
  background-color: transparent !important;
  color: $custom-green !important;
  border: 1px solid $custom-green;
  margin-right: 5px;
  box-shadow: 0 0 0 0 rgb(40 199 11 / 50%) !important;
}

.swal2-html-container {
  font-size: 15px;
  color: #6E6B7B;
}

.swal2-icon {
  position: relative;
  box-sizing: content-box;
  justify-content: center;
  width: 5em;
  height: 5em;
  margin: 1.25em auto 1.5em;
  border: none;
  border-radius: 50%;
  font-family: inherit;
  line-height: 5em;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.swal2-title {
  position: relative;
  max-width: 100%;
  margin: 0 0 0.4em;
  padding: 0;
  color: #5e5873;
  font-size: 1.714em;
  font-weight: 500;
  text-align: center;
  text-transform: none;
  word-wrap: break-word;
}