@import '~@core/scss/base/pages/page-auth.scss';
@import "@/assets/scss/variables/_variables.scss";
.brand-logo {
  svg {
    height: 28px;
    width: 40.95px;
  }
}
html[dir='rtl'] {
  svg.feather {
    transform: rotate(180deg);
  }
}

// Custom
.custom-logo-app {
  margin: 0 auto 10px auto;
}

.custom-logo-app img {
  max-width: 200px;
}

.card-auth-admin {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-top: 60px;
  padding: 27px;
  background-color: #fff;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.06);
  border-radius: 6px;
}

.google-icon {
  width: 18px;
  margin-right: 1rem;
}
